window,html,body{
		/*overflow-x:hidden !important;*/
		/*-webkit-overflow-scrolling: touch !important;*/
		/*overflow: scroll !important;*/
		background-color: #f5f5f5;
		margin:0px;
		-webkit-tap-highlight-color:rgba(0,0,0,0);   /* 让元素点击时不会出现框框 */
	}

td{
	text-align:center;
	vertical-align: center;
}

.button {
    display: inline-block;
    position: relative;
    padding: 0 6px;
    text-align: center;
    text-decoration: none;
    font: 12px/25px Arial, sans-serif;
    vertical-align:middle;
    text-shadow: 1px 1px 1px rgba(255,255,255, .22);
 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
 
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
    box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    -ms-transition: all 0.15s ease;
    transition: all 0.15s ease;

}

.green {
    color: #fff;
    background: #a5cd4e; /* Old browsers */
    background: -moz-linear-gradient(top,  #a5cd4e 0%, #6b8f1a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a5cd4e), color-stop(100%,#6b8f1a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%); /* IE10+ */
    background: linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%); /* W3C */
}

.tab {
	background: #D43E37;
	height: 42px;
	width: 100%;
	line-height: 42px;
	display: inline-block;
	vertical-align:middle;
	text-align: center;
	position: fixed;
	_position: absolute;
	top:0;
}

.title {
	color: #fff;
	height: 100%;
	line-height: 42px;
	text-align: center;
	font-weight: bold;
	float: center;
	font-size: 18px;
}

.content_wrap {
	/*width: 100%;*/
	/*float: left;*/
	/*height: 100%;*/
	height: auto;
	padding: 24px;
	background:white;
	border-bottom: 1px solid #e0e0e0;
	/*box-shadow: 0 0 0.5px #e0e0e0;*/
}


.portrait_image {
	float: left;
	width:55px; 
	height:55px; 
	border-radius:50%; 
}

.div_name_date{
	float:left;
	line-height:27px;
}

.nickname{
	float: left;
	margin-left: 12px;
	text-align: center;
	color: #212121;
}

.create_date{
	float: left;
	margin-left: 12px;
	text-align: center;
	color: #bdbdbd;
	font-size: 13px;
}


.content {
	width:100%;
	float:left;
	color: #757575;
	line-height: 25px;
}

.content_div{
	margin-top: 16px;
	margin-bottom: 16px;
}

.content img{
	/*width: 100%;*/
	max-width: 100%;
}



.overlay {
	/*opacity: .5;*/
	/*filter: alpha(opacity=50);*/
	background: #ccc;
	width: 100%;
	height: auto;
	max-height: 64px;
	position: fixed;
	_position: absolute;
	padding: 8px;
	bottom: 0;     /*加词句浮动在底部*/
	/*top:0;*/     /*加词句浮动在顶部*/
}

.overlay img {
	max-width: 48px;
	max-height: 48px;
	float: left;
}

.main {
    color: #fff;
    background: #D43E37;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 18px;
    text-align: center;
    float: left;
}

.main:link {color: #fff}               
.main:visited {color: #fff}            
.main:hover {color: #fff}           
.main:active {color: #fff}

.comment {
	color: #D43E37;
}

.font_option{
	text-align: center;
	vertical-align: middle;
	color: #bdbdbd;
	font-size: 15px;
}

.font_option img {
	width: 26px;
	height: 26px;
}

/*footer版权的样式*/
#footer.footer-wrapper{
	margin-top:28px;
	border-top:1px solid #e9e9e9;
	font-size:12px;
	color:#7e7e7e;
	text-align:center
}
#footer.footer-wrapper a{
	color:#7e7e7e
}
#footer.footer-wrapper p{
	margin-top:24px;
	margin-bottom:5px
}
#footer.footer-wrapper ul{
	overflow:hidden;
	display:inline-block;
	margin-bottom:10px;
	list-style-type: none;
}
#footer.footer-wrapper ul li{
	float:left;
	min-width:60px;
	text-align:center;
	height:25px;
	line-height:25px
}
#footer.footer-wrapper ul li.iphone,#footer.footer-wrapper ul li.android{
	position:relative
}
#footer.footer-wrapper ul li.iphone img,#footer.footer-wrapper ul li.android img{
	position:absolute;
	left:0;
	top:0
}
#footer.footer-wrapper ul li.iphone a,#footer.footer-wrapper ul li.android a{
	margin-left:18px
}
#footer.footer-wrapper ul li.android{
	margin:0 10px 0 5px
}

.load_more {
	height: 45px;
	text-align: center;
	font-size: 16px;
	color: #333333;
	background-color: white;
	vertical-align: middle;
	line-height: 45px;
	margin-bottom: 8px;
}
.load_more a {
	width: 100%;
	height: 100%;
	display: block;
}
.load_more a:link {
	text-decoration: none;
	color: #333333;
}
.load_more a:visited {
	text-decoration: none;
	color: #333333;
}
.load_more a:hover {
	text-decoration: none;
	color: #D43E37;
}


/*默认样式，主要是position:fixed实现屏幕绝对定位*/
#totop{position:fixed;top:75%;left:90%;cursor:pointer;display: none;}

/*字体*/
.font_light_grey {
	color: #bdbdbd;
}
.font_dark_grey {
	color: #757575;
	font-size: 13px;
}


@media only screen and (max-width: 768px){
    .content_wrap {
		height: auto;
		padding: 12px;
		background:white;
		border-bottom: 1px solid #e0e0e0;
		/*box-shadow: 0 0 0.5px #e0e0e0;*/
	}
	
	.content_div {
		margin-top: 8px;
		margin-bottom: 8px;
	}
	.nopadding {
    	margin-left: -15px;
    }
    .portrait_image {
		float: left;
		width:40px; 
		height:40px; 
		border-radius:50%; 
	}
	.div_name_date{
		float:left;
		line-height:22px;
	}
	#totop{position:fixed;top:85%;left:90%;cursor:pointer;display: none;
	width:30px;heigth:30px;}
}
@media only screen and (min-width: 1200px){
    .nopadding {
    	margin-left: -15px;
    }
}